.bookmark-item {
  &:not(:last-child) {
    margin-bottom: .5*$em;
  }
  label {
    @include displayFlex(!important);
    justify-content: space-between;
    align-items: center;
    a {
      display: inline-block;
      color: black;
      margin-right: 1*$em;
    }
    .tools {
      display: inline-block;
    }
    span {
      display: inline-block;
      padding: .25*$em .5*$em;
      background-color: rgba($primary, .8);
      cursor: pointer;
      &:not(:last-child) {
        border-right: 1px solid black;
      }
      &.warning {
        background-color: rgba(orange, .8);
        &:hover {
          background-color: rgba(red, .8);
        }
      }
      &:hover {
        background-color: rgba($dim, .8);
        color: white;
      }
    }
  }
}
