.channel-list-item {
  position: relative;
  width: percentage(1/6);
  padding: .25*$em;
  list-style: none;
  > .wrapper {
    display: block;
    position: relative;
    height: 100%;
    padding: .5*$em;
    background-color: $offWhite;
    text-decoration: none;
    cursor: default;
    &:hover {
      background-color: $light;
      .hover-options {
        // top: 50%;
        height: 100%;
        max-height: 13*$em;
        padding: .5*$em;
        // transform: translate(0, -50%);
      }
    }
  }
  .image {
    place: holder;
    img {
      display: block;
      width: 100%;
    }
  }
  .info {
    word-break: break-word;
    color: black;
    .live-indicator {
      word-break: normal;
      &.offline, &.online {
        display: inline-block;
        position: absolute;
        width: 1*$em;
        top: .5*$em;
        left: 1*$em;
        height: 1*$em;
        margin: .5*$em .5*$em 0 0;
        border-radius: 100%;
        &:after {
          border-radius: .4*$em;
          background-color: rgba(black, .2);
          color: white;
          margin-left: 1.5*$em;
        }
      }
      &.offline {
        background-color: red;
        &:after {
          content: "Offline";
        }
      }
      &.online {
        background-color: $primary;
        &:after {
          content: "Live";
        }
      }
    }
    .channel-name {
      font-weight: bold;
      margin-bottom: .2*$em;
      word-wrap: break-word;
    }
    .title {
      place: holder;
    }
    .game {
      margin-top: .2*$em;
    }
  }
}

@media (max-width: 1024px) {
  .channel-list-item {
    width: percentage(1/5);
    &:hover {
    > .wrapper {
        .hover-options {}
      }
    }
    .image {
      img {}
    }
    .info {
      .live-indicator {
        &.offline, &.online {
          &:after {}
        }
        &.offline {
          &:after {}
        }
        &.online {
          &:after {}
        }
      }
      .channel-name {}
      .title {}
      .game {}
    }
    .hover-options {
      .follow, .append-stream {
        a {}
      }
      .follow {}
      .append-stream {}
    }
  }
}

@media (max-width: 880px) {
  .channel-list-item {
    width: percentage(1/4);
    &:hover {
    > .wrapper {
        .hover-options {}
      }
    }
    .image {
      img {}
    }
    .info {
      .live-indicator {
        &.offline, &.online {
          &:after {}
        }
        &.offline {
          &:after {}
        }
        &.online {
          &:after {}
        }
      }
      .channel-name {}
      .title {}
      .game {}
    }
    .hover-options {
      .follow, .append-stream {
        a {}
      }
      .follow {}
      .append-stream {}
    }
  }
}

@media (max-width: 740px) {
  .channel-list-item {
    width: percentage(1/3);
    &:hover {
    > .wrapper {
        .hover-options {}
      }
    }
    .image {
      img {}
    }
    .info {
      .live-indicator {
        &.offline, &.online {
          &:after {}
        }
        &.offline {
          &:after {}
        }
        &.online {
          &:after {}
        }
      }
      .channel-name {}
      .title {}
      .game {}
    }
    .hover-options {
      .follow, .append-stream {
        a {}
      }
      .follow {}
      .append-stream {}
    }
  }
}

@media (max-width: 600px) {
  .channel-list-item {
    width: percentage(1/2);
    &:hover {
    > .wrapper {
        .hover-options {}
      }
    }
    .image {
      img {}
    }
    .info {
      .live-indicator {
        &.offline, &.online {
          &:after {}
        }
        &.offline {
          &:after {}
        }
        &.online {
          &:after {}
        }
      }
      .channel-name {}
      .title {}
      .game {}
    }
    .hover-options {
      .follow, .append-stream {
        a {}
      }
      .follow {}
      .append-stream {}
    }
  }
}

@media (max-width: 460px) {
  .channel-list-item {
    width: percentage(1/1);
    &:hover {
    > .wrapper {
        .hover-options {}
      }
    }
    .image {
      img {}
    }
    .info {
      .live-indicator {
        &.offline, &.online {
          &:after {}
        }
        &.offline {
          &:after {}
        }
        &.online {
          &:after {}
        }
      }
      .channel-name {}
      .title {}
      .game {}
    }
    .hover-options {
      .follow, .append-stream {
        a {}
      }
      .follow {}
      .append-stream {}
    }
  }
}

// @media (max-width: xpx) {
//   .channel-list-item {
//     &:hover {
//     > .wrapper {
//         .hover-options {}
//       }
//     }
//     .image {
//       img {}
//     }
//     .info {
//       .live-indicator {
//         &.offline, &.online {
//           &:after {}
//         }
//         &.offline {
//           &:after {}
//         }
//         &.online {
//           &:after {}
//         }
//       }
//       .channel-name {}
//       .title {}
//       .game {}
//     }
//     .hover-options {
//       .follow, .append-stream {
//         a {}
//       }
//       .follow {}
//       .append-stream {}
//     }
//   }
// }
