.game-list-item {
  width: percentage(1/5);
  padding: .25*$em;
  list-style: none;
  .wrapper {
    height: 100%;
  }
  a {
    display: block;
    height: 100%;
    padding: .5*$em;
    background-color: $offWhite;
    text-decoration: none;
    &:hover {
      background-color: $light;
    }
  }
  .image {
    place: holder;
    img {
      display: block;
      width: 100%;
    }
  }
  .info {
    color: black;
    .game-name {
      font-weight: bold;
      margin: .2*$em 0;
    }
    .channel-count {
      margin-top: .2*$em;
    }
    .viewer-count {
      place: holder;
    }
  }
}
