.game-list-item {
  width: percentage(1/5);
  padding: .5*$em;
  background-color: $primary;
  list-style: none;
  a {
    text-decoration: none;
  }
  &:hover {
    background-color: $light;
  }
  .image {
    place: holder;
    img {
      display: block;
      width: 100%;
    }
  }
  .info {
    color: black;
    .game-name {
      font-weight: bold;
      margin-bottom: .2*$em;
    }
    .channel-count {
      margin-top: .2*$em;
    }
    .viewer-count {
      place: holder;
    }
  }
}
