nav {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  max-height: 2*$em;
  box-shadow: 0 2px 0 0 $dimmer;
  overflow: hidden;
  text-align: right;
  pointer-events: none;
  > div {
    @include displayInlineFlex;
    flex-direction: row;
    // justify-content: space-around;
    justify-content: flex-end;
    align-items: center;
    // width: 14*$em;
    pointer-events: auto;
    > span {
      display: flex;
    }
    .nav-item {
      color: black;
      padding: .45*$em 1*$em;
      text-decoration: none;
      font-weight: bold;
      border-left: 2px solid $dimmer;
      background-color: $primary;
      &:hover {
        background-color: $light
      }
      &.login {
        background-color: $purple;
        color: white;
      }
    }
  }
}
