nav {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  max-height: 2*$em;
  box-shadow: 0 2px 0 0 $dimmer;
  text-align: right;
  pointer-events: none;
  > div {
    position: relative;
    @include displayInlineFlex;
    flex-direction: row;
    // justify-content: space-around;
    justify-content: flex-end;
    align-items: center;
    // width: 14*$em;
    pointer-events: auto;
    > span {
      display: flex;
    }
    .web-name {
      position: absolute;
      top: 0;
      right: 100%;
      margin: 0 1*$em;
      color: $primary;
      font-size: 2*$em;
      height: 2.25*$em;
      pointer-events: none;
      a {
        @include displayFlex;
        align-items: center;
        height: 100%;
        color: $primary;
        text-decoration: none;
        img {
          display: inline-block;
          width: 1.45*$em;
        }
        .text {
          display: inline-block;
        }
      }
    }
    .nav-item {
      position: relative;
      color: black;
      padding: .45*$em 1*$em;
      text-decoration: none;
      font-weight: bold;
      border-left: 2px solid $dimmer;
      background-color: $primary;
      &.with-submenu {
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          position: relative;
          top: .8*$em;
          margin-right: .5*$em;
          border-width: .5*$em .25*$em .5*$em .25*$em;
          border-style: solid;
          border-color: $dimmer transparent transparent transparent;
        }
        &:hover {
          &:before {
            top: -0.8*$em;
            border-color: transparent transparent $dimmer transparent;
          }
          .submenu {
            max-height: 16*$em;;
          }
        }
        .submenu {
          @include displayFlex;
          flex-direction: column;
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 11*$em;
          max-height: 0;
          background-color: $dimmer;
          overflow: hidden;
          .nav-item {
            border-right: 2px solid $dimmer;
            border-bottom: 2px solid $dimmer;
            text-align: center;
            &:first-child {
              margin-top: 2px;
            }
          }
        }
      }
      &:hover {
        background-color: $light
      }
      &.login {
        background-color: $purple;
        color: white;
      }
      &.input {
        position: relative;
        padding-left: .9*$em;
        padding-right: 0;
        width: 0;
        overflow: hidden;
        &.open {
          width: auto;
          padding-left: 1.3*$em;
          padding-right: .1*$em;
        }
        .symbol {
          position: absolute;
          top: 0;
          left: 0;
          width: 1*$em;
          height: 100%;
          padding: .5*$em 0;
          box-shadow: .1*$em 0 0 0 $dimmer;
          text-align: center;
          cursor: pointer;
        }
        input {
          background-color: transparent;
          border: none;
          box-shadow: inset 0 -1px 0 0 black;
          color: black;
          @include placeholder {
            color: rgba(black, .5);
          }
          &:focus {
            background-color: rgba(black, .1);
          }
        }
      }
    }
  }
}

.root {
  &.player-open {
    nav {
      > div {
        > span {}
        .web-name {
          position: absolute;
          left: initial;
          right: 100%;
          a {
            color: $offBlack;
            .text {
              display: none;
            }
          }
        }
        .nav-item {
          &.with-submenu {
            &:before {}
            &:hover {
              &:before {}
              .submenu {}
            }
            .submenu {
              .nav-item {
                &:first-child {}
              }
            }
          }
          &:hover {}
          &.login {}
          &.input {
            &.open {}
            .symbol {}
            input {
              @include placeholder {}
              &:focus {}
            }
          }
        }
      }
    }
    &.player-collapsed {
      nav {
        > div {
          > span {}
          .web-name {
            a {
              color: $primary;
              .text {
                display: inline-block;
              }
            }
          }
          .nav-item {
            &.with-submenu {
              &:before {}
              &:hover {
                &:before {}
                .submenu {}
              }
              .submenu {
                .nav-item {
                  &:first-child {}
                }
              }
            }
            &:hover {}
            &.login {}
            &.input {
              &.open {}
              .symbol {}
              input {
                @include placeholder {}
                &:focus {}
              }
            }
          }
        }
      }
    }
  }
}

.notif {
  display: inline-block;
  margin-left: .5*$em;
  border-radius: .5*$em;
  background-color: $dimmer;
  box-shadow: 0 0 0 .4*$em $dimmer;
  color: white;
  text-shadow: 2px 2px 2px black;
}

@media (max-width: 1076px) {
  nav {
    min-width: 14*$em;
    height: 100%;
    max-height: 0;
    overflow: visible;
    .web-name {
      position: fixed !important;
      right: 13.5*$em !important;
      left: initial !important;
      a {
        color: $primary;
        .text {
          display: none !important;
        }
      }
    }
    &.open {
      max-height: 15.1*$em;
      > div {
        height: 100%;
        overflow: visible;
      }
      .mobile-nav {
        span {
          top: -.8*$em;
          border-top: none;
          border-bottom: .5*$em solid $dimmer;
        }
      }
    }
    > div {
      width: 100%;
      height: 100%;
      flex-direction: column;
      overflow: hidden;
      > * {
        order: 1;
      }
      > span {
        &.inputs, &.auth {
          width: 100%;
          flex-direction: column;
        }
      }
      .nav-item {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid $dimmer;
        border-right: 2px solid $dimmer;
        &.with-submenu {
          .submenu {
            top: 0;
            left: initial;
            right: 100%;
          }
        }
        &:hover {}
        &.login {}
        &.input {
          width: auto;
          padding-left: 1.3*$em;
          padding-right: .1*$em;
          .symbol {}
          input {
            box-shadow: none;
            &:focus {}
          }
        }
      }
    }
    .mobile-nav {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2.1*$em;
      color: black;
      padding: .45*$em 1*$em;
      text-decoration: none;
      font-weight: bold;
      border-left: 2px solid $dimmer;
      border-right: 2px solid $dimmer;
      border-bottom: 2px solid $dimmer;
      background-color: $primary;
      text-align: center;
      pointer-events: all;
      cursor: pointer;
      overflow: hidden;
      span {
        position: relative;
        top: .8*$em;
        width: 0;
        border-left: .4*$em solid transparent;
        border-right: .4*$em solid transparent;
        border-top: .5*$em solid $dimmer;
        pointer-events: none;
      }
    }
  }
}
