nav {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  max-height: 2*$em;
  box-shadow: 0 2px 0 0 $dimmer;
  overflow: hidden;
  text-align: right;
  pointer-events: none;
  > div {
    @include displayInlineFlex;
    flex-direction: row;
    // justify-content: space-around;
    justify-content: flex-end;
    align-items: center;
    // width: 14*$em;
    pointer-events: auto;
    > span {
      display: flex;
    }
    .nav-item {
      color: black;
      padding: .45*$em 1*$em;
      text-decoration: none;
      font-weight: bold;
      border-left: 2px solid $dimmer;
      background-color: $primary;
      &:hover {
        background-color: $light
      }
      &.login {
        background-color: $purple;
        color: white;
      }
      &.input {
        position: relative;
        padding-left: .9*$em;
        padding-right: 0;
        width: 0;
        overflow: hidden;
        &.open {
          width: auto;
          padding-left: 1.1*$em;
          padding-right: .1*$em;
        }
        .symbol {
          position: absolute;
          top: 0;
          left: 0;
          width: 1*$em;
          height: 100%;
          padding: .5*$em 0;
          box-shadow: .1*$em 0 0 0 $dimmer;
          text-align: center;
          cursor: pointer;
        }
        input {
          background-color: transparent;
          border: none;
          box-shadow: inset 0 -1px 0 0 black;
          color: black;
          &:focus {
            background-color: rgba(black, .1);
          }
        }
      }
    }
  }
}
