.overlay-ui-default {
  @include displayFlex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 0;
  height: 100%;
  box-shadow: -.2*$em 0 0 0 $dim;
  background-color: $offWhite;
  overflow: hidden;
  // .wrapper {
  //   position: relative;
  //   width: 100%;
  //   height: 100%;
  // }
  &.open {
    max-width: 24*$em;
  }
  .close {
    position: absolute;
    top: 0;
    left: 0*$em;
    padding: .2*$em .6*$em;
    box-shadow: 0 0 0 .2*$em $dim;
    color: black;
    cursor: pointer;
  }
  .title {
    padding: 2*$em;
    color: black;
    text-align: center;
    font-size: 2*$em;
    &.sub {
      padding: .5*$em;
      font-size: 1.7*$em;
      text-align: left;
    }
  }
  .scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }
  form {}
  .section {
    @include displayFlex;
    padding: .5*$em;
    label {
      display: inline-block;
      width: 100%;
      padding: .5*$em;
      background-color: $offWhite;
      box-shadow: 0 0 .2*$em 0 black;
      border-radius: .5*$em;
      &.vote {
        position: relative;
        width: 4em;
        height: 6em;
      }
      &.comment {
        @include displayInlineFlex;
        flex-direction: column;
        justify-content: space-between;
      }
      .tools {
        font-size: .8*$em;
        color: rgba($offBlack, .8);
        .tool {
          display: inline-block;
          cursor: pointer;
        }
      }
    }
    .label {
      vertical-align: top;
    }
    .to {
      font-weight: bold;
    }
    input {
      width: 100%;
      border-radius: .25*$em;
      border: none;
      border: 1px solid black;
      box-shadow: none;
      &[type="checkbox"], &[type="radio"] {
        width: auto;
      }
      &.invalid {
        border: 1px solid red;
      }
    }
    textarea {
      width: 100%;
      border-radius: .25*$em;
      border: none;
      border: 1px solid red;
      box-shadow: none;
      &.valid {
        border: 1px solid $dimmer;
      }
      &.invalid {
        border: 1px solid red;
      }
    }
    .submit {}
  }
}
