.player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .wrapper {
    position: relative;
    .list {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}
.stream {
  @include displayFlex;
  .video, .chat {
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .video {
    width: 100%;
  }
  .chat {
    width: 24*$em;
  }
  .tools {
    display: block;
    position: fixed;
    .closer {}
  }
}
.root.player-collapsed .player {

}
