.player {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: $dim;
  overflow: hidden;
  > .wrapper {
    @include displayFlex;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 2px;
    box-shadow: inset 0 2px 0 0 $dim;
    .list {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // overflow-x: hidden;
      // overflow-y: auto;
      // &.flex-column {
      //   @include displayFlex;
      //   flex-direction: column;
      // }
      &.chat-list {
        width: 24*$em;
        min-width: 24*$em;
      }
    }
    > .tools {
      @include displayFlex;
      position: absolute;
      bottom: 100%;
      left: 0;
      > *:not(.wrap), .main-tool {
        background-color: $primary;
        max-height: 2*$em;
        padding: .45*$em .5*$em;
        border: none;
        cursor: pointer;
        border-right: 2px solid $dimmer;
        &.streamers {
          font-weight: bold;
        }
        &:hover {
          background-color: $light
        }
      }
      .wrap {
        position: relative;
        > * {
          min-width: 14*$em;
        }
        .hover-msg {
          @include displayFlex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          box-shadow: inset -2px 0 0 0 $dimmer;
          background-color: $primary;
          color: $offBlack;
          pointer-events: none;
          opacity: 1;
        }
        &:hover {
          .hover-msg {
            opacity: 0;
          }
        }
      }
      .closer {}
    }
  }
  .side-flexer {
    position: relative;
    width: 2*$em;
    background-color: rgba($primary, .6);
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 1.5*$em;
      width: 0;
      height: 0;
      border-top: .125*$em solid transparent;
      border-left: .25*$em solid $primary;
      border-bottom: .125*$em solid transparent;
    }
  }
}

@mixin streamTools {
  .tools {
    top: 2*$em;
    flex-direction: column;
    width: 100%;
    max-width: 14*$em;
    background-color: $dimmer;
    padding: 0;
    text-align: center;
    > *:not(.mobile) {
      width: 100%;
      max-height: 0;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-right: none;
      overflow: hidden;
      &:not(:last-child) {
        border-bottom: 0px solid $dimmer;
      }
    }
    &.menu-open {
      padding: 2px;
      > *:not(.mobile) {
        max-height: 100%;
        height: auto;
        padding-top: .25*$em;
        padding-bottom: .25*$em;
        overflow: hidden;
        &.streamer {
          display: none;
        }
        &:not(:last-child) {
          border-bottom: 2px solid $dimmer;
        }
      }
      .mobile {
        div {
          &.lines {
            div {
              &:nth-child(1) {
                position: relative;
                top: 0;
              }
              &:nth-child(2) {
                position: relative;
                top: -6px;
              }
              &:nth-child(3) {
                position: relative;
                top: -12px;
              }
              // &:nth-child(1) {
              //   position: relative;
              //   top: 6px;
              //   transform: rotateZ(45deg);
              // }
              // &:nth-child(2) {
              //   left: 50%;
              //   max-width: 0;
              // }
              // &:nth-child(3) {
              //   position: relative;
              //   top: -6px;
              //   transform: rotateZ(-45deg);
              // }
            }
          }
        }
      }
    }
    .mobile {
      @include displayFlex;
      flex-direction: row;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 2*$em;
      border: none;
      box-shadow: inset 0 0 0 2px $dimmer;
      @include userSelect;
      cursor: default;
      div {
        &.name {
          position: relative;
          width: 100%;
          // min-width: 10*$em;
          // max-width: 10*$em;
          padding-right: 4px;
          overflow: hidden;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 100%;
            background-image: singular-gradient(90deg, transparent, $primary);
          }
          // &:hover {
          //   a {
          //     position: absolute;
          //     right: 0;
          //   }
          // }
        }
        &.lines {
          @include displayFlex;
          flex-direction: column;
          justify-content: space-around;
          width: 2*$em;
          padding-left: 4px;
          border-left: 2px solid $dimmer;
          cursor: pointer;
          div {
            position: relative;
            top: 0;
            left: 0;
            max-width: 100%;
            height: 2px;
            margin: auto 0;
            background-color: black;
            text-align: center;
          }
        }
      }
    }
  }
}

.player-stream {
  @include displayFlex;
  position: relative;
  height: 100%;
  &:hover {
    z-index: 1;
  }
  .video, .chat {
    position: relative;
    background-color: black;
    .nested {
      position: relative;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .video {
    width: 100%;
    padding-top: 2*$em;
    .nested {
      width: 100%;
      height: 100%;
    }
  }
  .chat {
    width: 24*$em;
    min-width: 24*$em;
    height: 100%;
    overflow: hidden;
  }
  .tools {
    @include displayFlex;
    position: absolute;
    top: 0;
    left: 0;
    > * {
      background-color: $primary;
      padding: .45*$em .5*$em;
      cursor: pointer;
      &:hover {
        background-color: $light;
        &.mobile {
          text-align: left;
          .name {
            &:after {
              background-image: singular-gradient(90deg, transparent, $light) !important;
            }
          }
        }
      }
      &.streamer {
        .vod {
          color: rgba(0,125, 60, 1);
        }
      }
      &.refresh {
        @include displayFlex;
        cursor: default;
        &:hover {
          background-color: $primary;
        }
        > * {
          display: inline-block;
          width: 4*$em;
          min-width: initial;
          padding-top: 0;
          background-color: transparent;
          cursor: pointer;
          text-align: center;
          &:hover {
            background-color: $light;
          }
          &.title {
            width: 4*$em;
            cursor: default;
            text-align: left;
            &:hover {
              background-color: $primary;
            }
          }
          &:not(:last-child) {
            height: 100%;
            // box-shadow: inset -2px 0 0 0 $dimmer;
          }
        }
      }
      &:not(:last-child) {
        border-right: 2px solid $dimmer;
      }
    }
    .mobile {
      display: none;
      text-align: left;
    }
    .follow.need-auth {
      color: rgba(black, .5);
      text-decoration: none;
    }
    a {
      color: black;
      // font-weight: bold;
    }
    .closer {}
  }
  @include streamTools;
}

.chat-list.hide-chat {
  width: 0 !important;
  min-width: 0 !important;
}

.root {
  &.player-open {
    .player, &.layout-singular .player, &.layout-1 .player {
      width: 100%;
      height: 100%;
      padding-top: 2*$em;
      overflow: visible;
      .list.chat-list {
        .player-stream {
          &:not(.in-view) {
            width: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }
    &.layout-singular:not(.player-collapsed) .player {
      > .wrapper {
        .list.video-list {
          .player-stream {
            &:not(.in-view) {
              width: 0;
              height: 0;
              overflow: hidden;
            }
          }
        }
      }
    }
    &.layout-by-2 .player, &.layout-2 .player {
      > .wrapper {
        .list.video-list {
          .player-stream {
            height: 50%;
          }
        }
        .list.chat-list {
          .player-stream {
            .chat {}
          }
        }
      }
    }
    &.layout-by-3 .player {
      > .wrapper {
        .list.video-list {
          .player-stream {
            height: 50%;
            // &:not(:first-child) {
            //   @include displayInlineFlex;
            //   width: 50%;
            // }
          }
        }
        .list.chat-list {
          .player-stream {
            .chat {}
          }
        }
      }
    }
    &.layout-3 .player {
      > .wrapper {
        .list.video-list {
          .player-stream {
            height: 50%;
            &:not(:first-child) {
              @include displayInlineFlex;
              width: 50%;
            }
          }
        }
        .list.chat-list {
          .player-stream {
            .chat {}
          }
        }
      }
    }
    &.layout-4 .player {
      > .wrapper {
        .list.video-list {
          @include displayFlex;
          flex-wrap: wrap;
          overflow-y: hidden;
          .player-stream {
            @include displayInlineFlex;
            width: 50%;
            height: 50%;
          }
        }
        .list.chat-list {
          .player-stream {
            .chat {}
          }
        }
      }
    }
    &.layout-5 .player {
      > .wrapper {
        .list.video-list {
          @include displayFlex;
          flex-wrap: wrap;
          overflow-y: hidden;
          .player-stream {
            @include displayInlineFlex;
            width: 50%;
            height: 33.3333333%;
            &:first-child {
              width: 100%;
            }
          }
        }
        .list.chat-list {
          overflow-y: hidden;
          .player-stream {
            .chat {}
          }
        }
      }
    }
    &.layout-6 .player {
      > .wrapper {
        .list.video-list {
          @include displayFlex;
          flex-wrap: wrap;
          overflow-y: hidden;
          .player-stream {
            @include displayInlineFlex;
            width: 50%;
            height: 33.3333333%;
          }
        }
        .list.chat-list {
          overflow-y: hidden;
          .player-stream {
            .chat {}
          }
        }
      }
    }
    &.player-collapsed .player,
    &.player-collapsed .player,
    &.player-collapsed .player,
    &.player-collapsed .player,
    &.player-collapsed .player,
    &.player-collapsed .player,
    &.player-collapsed .player,
    &.player-collapsed .player,
    &.player-collapsed .player
    {
      width: 14*$em;
      height: 100%;
      box-shadow: 0 0 0.5*$em 0 $dimmer;
      > .wrapper {
        .list.video-list {
          padding: 0;
          overflow-y: auto;
          .player-stream {
            width: 100% !important;
            max-height: 15*$em;
            // &:not(:last-child) {
            //   margin-bottom: 4*$em;
            // }
          }
        }
        .list.chat-list {
          width: 0;
          min-width: 0;
          .player-stream {
            .chat {
              width: 0;
            }
          }
        }
        > .tools {
          > * {
            @for $i from 3 to 6 {
              &:nth-child(#{$i}n) {
                display: none;
              }
            }
          }
        }
        .stream-panels {
          padding-right: 0;
          > .wrapper {
            .tools {
              .option {}
            }
            .list {
              .panel {
                width: percentage(1/1);
                > a {}
                .wrapper {
                  .pad {
                    .title {}
                    .image {
                      img {}
                    }
                  }
                }
              }
            }
          }
        }
      }
      .side-flexer {
        &:before {
          border-left: .25*$em solid $primary;
          border-right: .25*$em solid transparent;
        }
      }
    }
  }
}

@media (min-width: 0px) {
  .root {
    &.player-open {
      &.layout-singular .player,
      &.layout-by-2 .player,
      &.layout-by-3 .player,
      &.layout-1 .player,
      &.layout-2 .player,
      &.layout-3 .player,
      &.layout-4 .player
      &.layout-5 .player,
      &.layout-6 .player
      {
        > .wrapper {
          .list.video-list {
            .player-stream {
              &:not(:last-child) {}
            }
          }
          .list.chat-list {
            .player-stream {
              .chat {}
            }
          }
        }
      }
    }
  }
}
