.top-level-component {
  &.home-page {
    .featured-streams {
      @include displayFlex;
      max-height: 42*$em;
      // max-height: 28*$em;
      margin-bottom: 1*$em;
      .featured-stream {
        @include displayInlineFlex;
        width: 100%;
        // height: 100%;
        .stream {
          width: 100%;
          height: 100%;
          iframe {
            width: 100%;
            height: 100%;
          }
        }
        .stream-info {
          width: 20*$em;
          padding: .5*$em;
          background-color: $offBlack;
          color: white;
          overflow-x: hidden;
          overflow-y: auto;
          .image {
            img {
              max-width: 100%;
            }
          }
          .display-name {
            margin-bottom: .2*$em;
            color: $light;
            font-size: 1.3*$em;
          }
          .watch {
            display: block;
            margin: .4*$em 0;
            color: white;
            text-decoration: underline;
            cursor: pointer;
          }
          .bio {
            margin-top: .5*$em;
          }
        }
      }
      > .wrapper {
        width: 20*$em;
        // height: 100%;
        .list {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
    .top-games {
      .title {
        margin: .5*$em;
        font-size: 1.6*$em;
        font-weight: bold;
      }
      > .wrapper {
        // width: 20*$em;
        // height: 100%;
        padding: .25*$em 0;
        background-color: $offBlack;
        .list {
          @include displayFlex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 60*$em;
          // height: 100%;
          margin: 0 auto;
          padding: 0;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
  }
  &.profile, &.streams, &.games, &.search-page {
    .followed-streams.profile, .following-streams.profile, .general-page, .videos-listing.profile, .user-info {
      &.locked {
        position: relative;
      }
      &:not(:last-child) {
        margin-bottom: 1*$em;
      }
      .page-header {
        > .title {
          color: black;
          font-size: 2*$em;
          // text-decoration: none;
          a {
            color: black;
          }
        }
      }
      > .title {
        margin: .5*$em;
        font-size: 1.6*$em;
        font-weight: bold;
      }
      > .wrapper {
        // width: 20*$em;
        // height: 100%;
        padding: .25*$em 0;
        transition: 0s all;
        background-color: $offBlack;
        .list {
          @include displayFlex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 60*$em;
          // height: 100%;
          min-height: 11*$em;
          margin: 0 auto;
          padding: 0;
          overflow-x: hidden;
          overflow-y: auto;
          transition: 0s all;
        }
      }
      .tools {
        position: absolute;
        // top: 5.25*$em;
        top: 0;
        left: .5*$em;
        width: 8.003*$em;
        max-height: 100%;
        // padding-top: 5.5*$em;
        padding-top: .25*$em;
        padding-bottom: .25*$em;
        margin-top: 4.75*$em;
        overflow: hidden;
        transform: translate(0, -0%);
        transition: .0s all;
        &.locked {
          top: 100%;
          margin-top: 0;
          transform: translate(0, -100%);
          // bottom: .25*$em;
        }
        &.locked-top {
          // top: 2.5*$em;
          // bottom: initial;
        }
        .parent {
          .scroll {
            @include displayFlex;
            flex-direction: column;
            .btn-default {
              text-align: center;
            }
            .option {
              padding: .25*$em;
              margin: .25*$em 0;
              &.filters {
                cursor: default;
                .filter-status {
                  @include displayFlex;
                  padding-top: .1*$em;
                  label {
                    display: none;
                    margin-right: -2.5*$em;
                    pointer-events: none;
                  }
                  select {
                    width: 100%;
                    // padding-left: 2.5*$em;
                    border-bottom: 1px solid rgba(black, .2);
                    background-color: transparent;
                    border: none;
                    // font-weight: bold;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.root {
  &.player-open {
    &.player-collapsed {
      .top-level-component {
        &.home-page {
          .featured-streams {
            .featured-stream {
              .stream {
                iframe {}
              }
              .stream-info {
                .image {
                  img {}
                }
                .display-name {}
                .watch {}
                .bio {}
              }
            }
            > .wrapper {
              .list {}
            }
          }
          .top-games {
            .title {}
            > .wrapper {
              .list {}
            }
          }
        }
        &.profile, &.streams, &.games, &.search-page {
          .followed-streams.profile, .following-streams.profile, .general-page, .videos-listing.profile, .user-info {
            .title {
            }
            > .wrapper {
              .list {}
            }
            .tools {
              &:not(.locked):not(.locked-top) {
                left: 14.5*$em;
              }
              .parent {
                .scroll {
                  .option {
                    &.filters {
                      .filter-status {
                        label {}
                        select {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1488px) {
  .root.player-collapsed {
    .top-level-component {
      &.home-page {
        .featured-streams {
          .featured-stream {
            .stream {
              iframe {}
            }
            .stream-info {
              .image {
                img {}
              }
              .display-name {}
              .watch {}
              .bio {}
            }
          }
          > .wrapper {
            .list {}
          }
        }
        .top-games {
          .title {}
          > .wrapper {
            .list {}
          }
        }
      }
      &.profile, &.streams, &.games, &.search-page {
        .followed-streams.profile, .following-streams.profile, .general-page, .videos-listing.profile, .user-info {
          .title {
          }
          > .wrapper {
            padding-left: 9*$em;
            .list {
              margin: 0;
            }
          }
          .tools {
            .parent {
              .scroll {
                .option {
                  &.filters {
                    .filter-status {
                      label {}
                      select {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1266px) {
  .root {
    .top-level-component {
      &.home-page {
        .featured-streams {
          .featured-stream {
            .stream {
              iframe {}
            }
            .stream-info {
              .image {
                img {}
              }
              .display-name {}
              .watch {}
              .bio {}
            }
          }
          > .wrapper {
            .list {}
          }
        }
        .top-games {
          .title {}
          > .wrapper {
            .list {}
          }
        }
      }
      &.profile, &.streams, &.games, &.search-page {
        .followed-streams.profile, .following-streams.profile, .general-page, .videos-listing.profile, .user-info {
          .title {
          }
          > .wrapper {
            padding-left: 9*$em;
            .list {
              margin: 0;
            }
          }
          .tools {
            .parent {
              .scroll {
                .option {
                  &.filters {
                    .filter-status {
                      label {}
                      select {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


// @media (max-width: xpx) {
//   .top-level-component {
//     &.home-page {
//       .featured-streams {
//         .featured-stream {
//           .stream {
//             iframe {}
//           }
//           .stream-info {
//             .image {
//               img {}
//             }
//             .display-name {}
//             .watch {}
//             .bio {}
//           }
//         }
//         > .wrapper {
//           .list {}
//         }
//       }
//       .top-games {
//         .title {}
//         > .wrapper {
//           .list {}
//         }
//       }
//     }
//     &.profile, &.streams, &.games {
//       .followed-streams.profile, .following-streams.profile, .general-page {
//         .title {
//         }
//         > .wrapper {
//           .list {}
//         }
//         .tools {
//           .parent {
//             .scroll {
//               .option {
//                 &.filters {
//                   .filter-status {
//                     label {}
//                     select {}
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
