.user-info {
  .channel {
    max-width: 55*$em;
    margin: auto;
    .banner {
      position: relative;
      min-height: 3*$em;
      background-color: black;
      img {
        display: block;
        width: 100%;
      }
      .hover {
        @include displayFlex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 13*$em;
        // width: 10*$em;
        padding: 1*$em;
        // background-color: rgba(0, 0, 0, .5);
        transform: translate(0, -4*$em);
        text-align: center;
        align-items: center;
        &:before {
          content: "";
          z-index: 0;
          position: absolute;
          bottom: 0*$em;
          left: 0;
          width: 100%;
          height: 10*$em;
          background-color: $offBlack;
        }
        .logo {
          z-index: 1;
          position: relative;
          width: 6*$em;
          background-color: white;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 0 .2*$em $primary;
            pointer-events: none;
          }
          img {
            width: 100%;
          }
        }
        .info {
          z-index: 1;
          @include displayFlex;
          flex-direction: column;
          justify-content: center;
          padding-top: .5*$em;
          color: white;
          .views {}
          .followers {}
          .partner {}
        }
      }
    }
  }
  .user {
    @include displayFlex;
    max-width: 55*$em;
    margin: 1*$em auto .75*$em;
    background-color: $offWhite;
    color: black;
    .button-wrapper {
      @include displayFlex;
      flex-direction: column;
      width: 12*$em;
      padding: .5*$em;
      border-right: .5*$em solid $offBlack;
      flex-shrink: 0;
      > * {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: .5*$em;
        }
      }
    }
    .bio {
      padding: 10*$em 1*$em 1*$em;
      text-align: center;
      &.no-bio {
        font-style: italic;
        .sad-face {
          max-width: 1*$em;
        }
      }
    }
  }
}
