.view-poll {
  &.open {
    max-width: 60*$em;
  }
  .close {}
  .title {}
  form {}
  .section {
    .label {}
    .choice {
      position: relative;
      .gauge {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border-radius: .5*$em 0 0 .5*$em;
        background-color: rgba(red, .5);
      }
    }
    .spread {
      @include displayFlex;
      justify-content: space-between;
      .text {
        position: relative;
      }
    }
    .to {}
    input, textarea {
      &.valid {}
    }
  }
}
