.view-game-queue {
  &.open {}
  .close {}
  .title {}
  form {}
  .section {
    .label {}
    .choice {}
    .cr-logo {
      max-width: 1.5*$em;
    }
    .align {
      @include displayInlineFlex;
      align-items: center;
      &.wide {
        @include displayFlex;
        justify-content: space-around;
        width: 100%;
      }
    }
    input, textarea {
      &.valid {}
    }
  }
}
