$em: 16px;
$midGrey: rgba(125,125,125,1);
$offWhite: rgba(235,235,235,1);
$offBlack: rgba(30,30,30,1);
$purple: #6441a4;
$primary: rgba(0, 200, 250, 1);
$dim: rgba(0, 170, 220, 1);
$dimmer: rgba(0, 130, 180, 1);
$light: rgba(150, 230, 255, 1);

@mixin displayInlineFlex {
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin displayFlex {
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
@mixin userSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  transition: .2s all;
}

html {
  font-family: Helvetica, sans-serif, arial;
}

body {
  margin: 0;
  background: $offWhite;
  overflow: hidden;
}

.react-app {
  height: 100vh;
  padding-top: 2.1*$em;
}

@import "components/_root.scss";
@import "components/_nav.scss";
@import "components/_player.scss";
@import "components/_top-level-component.scss";
@import "components/_stream-list-item.scss";
