$em: 16px;
$midGrey: rgba(125,125,125,1);
$offWhite: rgba(235,235,235,1);
$offBlack: rgba(30,30,30,1);
$purple: #6441a4;
$primary: rgba(0, 200, 250, 1);

@mixin displayInlineFlex {
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin displayFlex {
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

html {
  font-family: Helvetica, sans-serif, arial;
}

body {
  margin: 0;
  background: $offWhite;
}

@import "components/_nav.scss";
