$em: 16px;
$midGrey: rgba(125,125,125,1);
$offWhite: rgba(235,235,235,1);
$offBlack: rgba(30,30,30,1);
$purple: #6441a4;
$primary: rgba(0, 200, 250, 1);
$dim: rgba(0, 170, 220, 1);
$dimmer: rgba(0, 130, 180, 1);
$light: rgba(150, 230, 255, 1);
$orange: rgba(250, 120, 0, 1);
$red: rgba(250, 0, 0, 1);
$green: rgba(0, 250, 150, 1);
$allColors: (
midGrey: $midGrey, // 1
offWhite: $offWhite, // 2
offBlack: $offBlack, // 3
purple: $purple, // 4
primary: $primary, // 5
dim: $dim, // 6
dimmer: $dimmer, // 7
light: $light, // 8
orange: $orange, // 8
red: $red, // 8
green: $green // 8
);

@mixin displayInlineFlex($mod:"") {
  display: -ms-inline-flex unquote($mod);
  display: -moz-inline-flex unquote($mod);
  display: -webkit-inline-box unquote($mod);
  display: -webkit-inline-flex unquote($mod);
  display: inline-flex unquote($mod);
}

@mixin displayFlex($mod:"") {
  display: -ms-flex unquote($mod);
  display: -moz-flex unquote($mod);
  display: -webkit-box unquote($mod);
  display: -webkit-flex unquote($mod);
  display: flex unquote($mod);
}
@mixin userSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  transition: .2s all;
}

html {
  font-family: Helvetica, sans-serif, arial;
}

body {
  margin: 0;
  background: $offWhite;
  overflow: hidden;
}

.react-app {
  height: 100vh;
  padding-top: 2.1*$em;
}


@import "components/_root.scss";
@import "components/_nav.scss";
@import "components/_player.scss";
@import "components/_buttons.scss";
@import "components/_top-level-component.scss";
@import "components/_featured-streams.scss";
@import "components/_top-games.scss";
@import "components/_user-info.scss";
@import "components/_stream-list-item.scss";
@import "components/_video-list-item.scss";
@import "components/_channel-list-item.scss";
@import "components/_game-list-item.scss";
@import "components/_hover-options.scss";
@import "components/_stream-panels.scss";
@import "components/_overlay.scss";
@import "components/_overlay-ui-default.scss";
@import "components/_ask-question.scss";
@import "components/_answer-question.scss";
@import "components/_view-question.scss";
@import "components/_view-bookmarks.scss";
@import "components/_bookmark-item.scss";
@import "components/_view-notifications.scss";
@import "components/_notif-item.scss";
@import "components/_view-questions.scss";
@import "components/_question-item.scss";
@import "components/_answer-item.scss";
@import "components/_make-poll.scss";
@import "components/_vote-poll.scss";
@import "components/_view-poll.scss";
@import "components/_poll-item.scss";
@import "components/_poll-choice.scss";
@import "components/_view-created-polls.scss";
@import "components/_participated-poll-item.scss";
@import "components/_question-list-item.scss";
@import "components/_vote-tool.scss";
@import "components/_view-game-queue.scss";
@import "components/_user-item.scss";

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: default;
}


.bg-color-white {
  background-color: white;
}
.bg-color-black {
  background-color: black;
}
@each $name, $color in $allColors {
  .bg-color-#{$name} {
    background-color: #{$color};
  }
}

@for $L from 1 to 5 {
  .separator-#{$L}-white {
    height: #{$L}px;
    background-color: white;
  }
  .separator-#{$L}-black {
    height: #{$L}px;
    background-color: black;
  }
  @each $name, $color in $allColors {
    // $i: index($allColors, $color);
    .separator-#{$L}-#{$name} {
      height: #{$L}px;
      background-color: #{$color};
    }
  }
}

@for $L from 1 to 5 {
  .separator-#{$L}-white {
    height: #{$L}px;
    background-color: white;
  }
  .separator-#{$L}-black {
    height: #{$L}px;
    background-color: black;
  }
  @each $name, $color in $allColors {
    $i: index($allColors, ($name $color));
    .separator-#{$L}-#{$i} {
      height: #{$L}px;
      background-color: #{$color};
    }
  }
}

.color-white {
  color: white;
}
.color-black {
  color: black;
}
.color-red {
  color: red;
}

@each $name, $color in $allColors {
  // $i: index($allColors, $color);
  .color-#{$name} {
    color: #{$color};
  }
  .color-#{$name}-priority {
    color: #{$color} !important;
  }
}
@each $name, $color in $allColors {
  // $i: index($allColors, $color);
  .bgc-#{$name} {
    background-color: #{$color};
  }
  .bgc-#{$name}-priority {
    background-color: #{$color} !important;
  }
}

.bold {
  font-weight: bold;
}

.no-underline {
  text-decoration: none;
}

.created-by {
  padding: 1*$em 0;
  text-align: center;
  a {
    color: $dim;
    &:visited {
      color: $dimmer;
    }
  }
}
